.landing-page {
  background-image: url('https://i.pinimg.com/1200x/4d/d1/03/4dd103f26960f729542abe244ff43d54.jpg'); /* Replace with imported or public path */
  background-size: cover;
  background-position: center;
}

